.tab 
{
    overflow: hidden;
	display: block;
}
.tab button 
{
	display: inline-block;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	border: 1px solid transparent;
	font-family: 'Libre Baskerville', serif;
	color: #0073AA;
	font-size: 18px;
	background-color: transparent;
	cursor:pointer;
}
.tab button:hover 
{
    color: #8e9dc4;
}
button:focus 
{
	outline:0;
}

.tab button.active
{
   border: 1px solid #dedede;
	border-top: 2px solid #0073AA;
	border-bottom: 1px solid #fff;
}
.tabcontent 
{
	margin-top: -1px;
    padding: 6px 12px;
    border: 1px solid #dedede; 
}
.tabcontent-hidden 
{
	display:none;
}

h3.tab-title
{
	color: #0073AA;
	background: #efefef; 
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;
	display: block;
	padding: 10px;
	margin: 0px 5px 10px 0px;
	font-family: 'Libre Baskerville', serif;
	width: 100%;
	
	box-sizing: border-box;
	/* box-shadow: 3px 0px 2px 0px #333;   */
}
.header_container_small_margin
{
	margin-top: 10px !important;
}

button.scroll-to-top-button
{
	margin-top: 50px !important;
	margin-bottom: 10px !important;
	display: block !important;
	/* font-size: 16px !important; */
}
.dashicons.dashicons-arrow-up-alt
{
	margin-top: 4px;
}

/* override */
.wcuf_section_header_container
{
	/* margin-top: 30px; */
	margin-top: 40px;
	margin-left: -18px;
	margin-right: -18px;
}
.wcuf_multiple_files_upload_options_container 
{
	margin-bottom: 30px;
}
.wcuf_collapsable_box
{
	border:none;
	padding: 10px;
}

/* animation */
.tabcontent 
{
	 /* animation: fadeEffect 1s; */ /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0; }
    to {opacity: 1;}
}
.wcuf-warning-text
{
	font-weight: bold;
	color: red;
}